.button {
	font-family: $title-font;
	display: inline-block;
	border: none;
	background-color: transparent;
	font-size: 1.8rem;
	letter-spacing: .5px;
	border-radius: 100px;
		&__medium {
			color: $primary-light;
			padding: 2rem 2.5rem;
			background-color: $text-white;
			transition: .3s all;
			&:hover,
			&:focus {
				outline: none;
				background-color: $grey;
				color: $text-white;
			}
		}
		&__big {
		background-color: $text-yellow;
		width: 100%;
		color: $text-white;
		padding: 1.5rem 1.5rem;
		transition: .3s all;
		&:hover,
		&:focus {
			outline: none;
			background-color: $grey;
			color: $text-white;
		}
	}
	&__primary {
		width: 100%;
		background-color: $primary;
		color: $text-white;
		padding: 2rem 2.5rem;
		transition: .3s all;
		&:hover,
		&:focus {
			outline: none;
			background-color: $primary-light;
			color: $text-white;
		}
	}
}