/*
0px - 600px:	Phone
600px - 900px:	Tablet portrait
900px - 1200px:	Tablet landscape
[1200-1800px] is where our normal style apply
1800px + : Big Desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + Typography > Layout + Grid > Page Layout > Components;

1em = 16px;
*/
*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* making default unit to 10px = 1rem */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  font-family: $base-font;
  font-size: 1.6rem;
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $text-grey-light; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

// .wrapper {
//   width: 80%;
//   margin: 0 auto; }
//   @media only screen and (max-width: 56.25em) {
//     .wrapper {
//       width: 75%; } }
//   @media only screen and (max-width: 37.5em) {
//     .wrapper {
//       width: 70%; } }

::selection {
  background-color: $primary-light;
  color: #fff; }
  
  section {
    padding: 10rem 0;
  }
  span.yellow {
      color: $text-yellow;
    }