$primary: #057A8D;
$primary-light: #0C8195;
$grey: #171819;
$grey-light: #F0F8FF;

$text-yellow: #F1C111;
$text-white: #ffffff;
$text-grey: #212529;
$text-grey-light: #909090;

$base-font:  'Plain-Light', sans-serif;
$title-font: 'Plain-Regular', sans-serif;
$bold-font:  'Plain-Bold', sans-serif;