.breadcrumbs {
	background-image: linear-gradient(to right bottom, $primary 50%,$primary-light 50%);
	&__title {
		letter-spacing: 1.5rem;
		color: $text-white;
		text-transform: uppercase;
		@include respond (phone) {
			letter-spacing: .8rem;
		}
		@include respond (phone-sm) {
			letter-spacing: .3rem;
		}
		&-project {
			color: $text-white;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	&__heading {
		font-family: $bold-font;
		font-size: 4rem;
		margin-bottom: 1.5rem;
		@include respond (phone) {
			font-size: 3rem;
		}
		@include respond (phone-sm) {
			font-size: 2rem;
		}
	}
	&__small {
		font-family: $title-font;
		font-size: 1.4rem;
	}
}